*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
  color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
}

.container{
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px 10px;
}

ul, ol, li{
  list-style: none;
}
button,input, a{
  outline: none;
  text-decoration: none;
}
